<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playlist music</title>
</head>
<body>
    <h1>Cadastre uma nova Música</h1>

    <form action="/create" method="POST">
        <label for="name">nome:</label>
        <input type="text" name="name" id=name">

        <label for="author">autor:</label>
        <input type="text" name="author" id=author">

        <label for="linkImage">link da Image:</label>
        <input type="text" name="linkImage" id=linkImage">

        <label for="linkMusic">link da Música</label>
        <input type="text" name="linkMusic" id=linkMusic">

        <button type="submit">cadastrars</button>
    </form>
</body>
</html>